.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
}

.ReactTitleStyle {
  background: #000;
  color: #fff !important;
}

.ReactTitleStyle2 {
  background: #000066;
  color: #fff !important;
}

.ReactTitleStyle3 {
  background: #1c7430;
  color: #fff !important;
}

.ReactTitleStyle4 {
  background: #880000;
  color: #fff !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
